<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>CyberGYM URJC</title>
	<link rel="icon" type="image/vnd.microsoft.icon" href="/util/favicon.ico" sizes="16x16">
	<link rel="stylesheet" type="text/css" href="/util/style.css">
	<meta charset="UTF-8">
</head>

<body>
	<div class="navbar">
		<a href="/">Home</a>
		<div class="dropdown">
			<button class="dropbtn">MVC
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="/showProfile">MVC Profile</a>
				<a href="/menuMVC">MVC Menu</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">API
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="/api/member/showProfile.html">Rest API Profile</a>
				<a href="/menuAPI">Rest API Menu</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">...
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="/login.html">Session</a>
				<a href="/about.html">About us</a>
			</div>
		</div>
	</div>
	<div>
		<h1>Adding member</h1>
		<form th:action='@{/addMember}' method="post">
			<p>DNI:</p>
			<input type='text' th:name='newMemberDni' placeholder='DNI' required />
			<p>Name:</p>
			<input type='text' th:name='newMemberName' placeholder='Name' required />
			<p>Email:</p>
			<input type='email' th:name='newMemberEmail' placeholder='Email' required />
			<p>Password:</p>
			<input type='password' th:name='newMemberpass' placeholder='Password' required />
			<p>Role:</p>
			<select th:name="newMemberRol" required />
			<option disabled selected value>Select Role</option>
			<option value=ROLE_USER>User</option>
			<option value=ROLE_ADMIN>Admin</option>
			</select>
			<br><br><br>
			<input id="secondInput" type='submit' th:name="action" th:value='Send' />
		</form>
		<br><br><br><input id="mainInput" type='button' onclick="location.href ='/showProfile'"
			value='Go Back'>
	</div>
</body>

</html>