<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>CyberGYM URJC</title>
	<link rel="icon" type="image/vnd.microsoft.icon" href="/util/favicon.ico" sizes="16x16">
	<link rel="stylesheet" type="text/css" href="/util/style.css">
	<meta charset="UTF-8">
</head>

<body>
	<div class="navbar">
		<a href="/">Home</a>
		<div class="dropdown">
			<button class="dropbtn">MVC
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="/showProfile">MVC Profile</a>
				<a href="/menuMVC">MVC Menu</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">API
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="/api/member/showProfile.html">Rest API Profile</a>
				<a href="/menuAPI">Rest API Menu</a>
			</div>
		</div>
		<div class="dropdown">
			<button class="dropbtn">...
				<i class="fa fa-caret-down"></i>
			</button>
			<div class="dropdown-content">
				<a href="/login.html">Session</a>
				<a href="/about.html">About us</a>
			</div>
		</div>
	</div>
	<h1 align="center">Member's Search</h1>
	<div>
		<input id="secondInput" type='button' onclick="location.href ='/springmvc/memberMVC.html'" value='Go Back'>
		&nbsp;&nbsp;&nbsp;&nbsp;
		<input id="secondInput" type='button' onclick="location.href ='/'" value='Go to Main Page'>
	</div>
	<br>
	<div class="row">
		<div class="columnMember" style="background-color:#FA9F52;">
			<h2>Search by name</h2>
			<h4>Name beginning</h4>
			<form th:action='@{/membersByName}' method="post">
				<input class="filterInput" type='text' th:name='name' placeholder='Name begins with...' required />
				<br><br>
				<input id="mainInput" type='submit' th:name="action" th:value='Send' />
			</form>
		</div>
	</div>
	<div th:if="${showResults}">
		<br><br>
		<table id='table'>
			<thead>
				<tr>
					<th>DNI</th>
					<th>Name</th>
					<th>Email</th>
					<th>Fee</th>
				</tr>
			</thead>
			<tbody>
				<tr th:if="${filteredMembers.empty}">
					<td colspan="4"> No members matching the input </td>
				</tr>
				<tr th:each="member : ${filteredMembers}">
					<td><span th:text="${member.dni}"> DNI </span></td>
					<td><span th:text="${member.name}"> Name </span></td>
					<td><span th:text="${member.email}"> Email </span></td>
					<td><span th:text="${member.fee + '€'}"> Fee </span></td>
				</tr>
			</tbody>
		</table>
	</div>
</body>

</html>